[Desktop Entry]
Version=1.0
Type=Application
Name=Enable Glint
Comment=Initialize Glint Linux Apps and Optimizations
Exec=bash /usr/share/pixmaps/glint-setup.sh
Icon=/usr/share/pixmaps/logo.png
Terminal=true
Categories=System;
